<header>
  <form action="/search">
    <input type="text" name="query" class="search-input">
  </form>
  t412
</header>

<% @movies.each do |movie| %>
<a href="/movies/<%= movie['id'] %>" class="home-movie-link">
  <div class="home-movie-cover" style="background-image: url('https://image.tmdb.org/t/p/w500<%= movie['poster_path'] %>')"></div>
</a>
<% end %>