<div class="home">
  <section>
    <h2>Films actuellement au cinéma</h2>
    <div class="scroll-list">
      <% @movies.each do |movie| %>
          <a href="/movies/<%= movie['id'] %>">
            <div class="movie-item" style="background-image: url('https://image.tmdb.org/t/p/w500/<%= movie['poster_path'] %>')"></div>
          </a>
      <% end %>
    </div>
  </section>

  <section>
    <h2>Série en cours de diffusion</h2>
    <div class="scroll-list">
      <% @shows.each do |show| %>
          <a href="shows/<%= show['id'] %>">
            <div class="movie-item" style="background-image: url('https://image.tmdb.org/t/p/w500/<%= show['poster_path'] %>')"></div>
          </a>
      <% end %>
    </div>
  </section>

</div>